<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta>
<meta charset="UTF-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<!-- JS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}" defer></script>
<title>Logout</title>
</head>
<body class="bg-light">
	<h2>ログアウトしました</h2>
</body>
</html>