<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <!-- JS -->
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}" defer></script>
    <title>新規登録</title>
</head>
<body class="bg-light">
    <form id="signup-form" method="post" th:action="@{/signup}" class="form" th:object="${signupForm}">
        <h1 class="text-center">新規登録</h1>
        <!-- メールアドレス -->
        <div class="form-group">
            <label for="email">メールアドレス</label>
            <input type="email" class="form-control" th:field="*{email}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>
        <!-- パスワード -->
        <div class="form-group">
            <label for="password">パスワード</label>
            <input type="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:errors="*{password}"></div>
        </div>
        <!-- ユーザー名 -->
        <div class="form-group">
            <label for="userName">ユーザー名</label>
            <input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid" />
            <div class="invalid-feedback" th:errors="*{userName}"></div>
        </div>
        <!-- 登録ボタン -->
        <input type="submit" value="登録" class="btn btn-primary w-100 mt-3" />
    </form>
</body>
</html>
